.component {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  .component_title {
    font-weight: 600;
    font-size: 1.3rem;
  }
  p {
    margin: 1rem 0rem;
    flex-wrap: wrap;
    width: 15rem;
    text-align: center;
  }
  button {
    padding: 0.2rem 0.5rem;
  }
  button:hover {
    background-color: #b4b4b4;
    color: white;
    border: 2px solid white;
  }
}
.pink {
  background-color: #fd95c9;
  border: 3px solid white;
}
